@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header {
    background-color: #F6EBDA;
}

.hero {
    background-color: #F6EBDA;
}

.service {
    text-decoration: underline;
    text-decoration-color: #FF902B;
    font-weight: 300;
}

.now {
    color: #E76F51;
    font-weight: bold;
    text-decoration: underline;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-body {
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.card-title {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

.card-text {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.badge {
    font-size: 0.9rem;
    padding: 5px 10px;
}

.btn-outline-warning {
    color: #E76F51;
    border-color: #E76F51;
}

.btn-outline-warning:hover {
    background-color: #E76F51;
    color: #fff;
}

.fa-star {
    color: #FFD700;
}